@model DetailViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["PageName"] = Model.Title;
    ViewData["Name"] = Model.Title;
}


@section SearchBox
{
    <partial name="_SearchBox"/>
}

<section id="service-details" class="service-details">
  <div class="container" data-aos="fade-up">
  <div class="row gy-4">
    <div class="col-lg-4">
      <div class="services-list">
          <h5>@Model.Title Groups</h5>
        @foreach (var item in Model.CategoriesName)
        {
          <a asp-controller="Home" asp-action="ShowItemsByCategory"
          asp-route-id="@item.CategoryId" asp-route-categoryName="@item.CategoryName">@item.CategoryName</a>
        }

      </div>  
    </div>
    <div class="col-lg-8">
      <h3>@Model.Title</h3>
      <img src="/assets/img/@(Model.ItemId).jpg" alt="" class="img-fluid services-img">
      <p>
        @Model.Text
      </p>
      <p>
        <span>Views : @Model.Views</span>
        <span class="float-end">Create Date : @Model.CreateDate.ToString("yyyy/MM/dd HH:mm")</span>
      </p>
    </div>
  </div>
</section>